[Unit]
Description=Run Captive Network Monitor Every 3 Minutes
Requires=captive-network-monitor.service

[Timer]
Unit=captive-network-monitor.service
OnBootSec=60s
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target 